html {
  font-size: 100px;
  font-family: PingFangSC-Regular;
}

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    overflow: scroll;
  }
}


body {
  font-size: .12rem;
}