@font-face {
  font-family: "iconfont"; /* Project id 2372429 */
  src: url('//at.alicdn.com/t/font_2372429_t8cod81cts.woff2?t=1621777545299') format('woff2'),
       url('//at.alicdn.com/t/font_2372429_t8cod81cts.woff?t=1621777545299') format('woff'),
       url('//at.alicdn.com/t/font_2372429_t8cod81cts.ttf?t=1621777545299') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-MinusSquare-Outline:before {
  content: "\e623";
}

.icon-add_3:before {
  content: "\e659";
}

.icon-icon-test3:before {
  content: "\e651";
}

.icon-icon-test4:before {
  content: "\e652";
}

.icon-icon-test1:before {
  content: "\e63b";
}

.icon-icon-test2:before {
  content: "\e63c";
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-notification:before {
  content: "\e679";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-search:before {
  content: "\e67d";
}

.icon-home-filling:before {
  content: "\e68d";
}

.icon-file:before {
  content: "\e671";
}

.icon-user:before {
  content: "\e682";
}

.icon-work:before {
  content: "\e683";
}
